<div class="centered-content">
  <div class="task-manager-container">
    <div class="sidebar">
      <h1 class="title has text primary">
        Track Hours Completed
      </h1>
      <div class="list-menu">
        <a class="list-menu-item">
          <details>
          <summary>Core Hours</summary>
            <form [formGroup]="hourForm"
            (ngSubmit)="onSubmit()">
              <label for="date">Date:</label>
              <input type="date" id="date" formControlName="date" #dateInput required><br>

              <label for="task">Task:</label>
              <input type="text" id="task" formControlName="task"  #taskInput required><br>
              <label for="time">Time spent:
              <br>
              <input type="number" id="hours" formControlName="hours" min="0" #hoursInput required>hours<br>
              <input type="number" id="minutes" formControlName="minutes" min="0" max="59" #minutesInput required>minutes<br>
            </label>
              <label for="notes">Additional Notes:</label>
              <textarea id="notes" formControlName="notes" rows="5" cols="30" #notesInput></textarea><br>

              <button type="submit">Submit</button>
          </form>
        </details>
        </a>
        <a class="list-menu-item">
          <details>
            <summary>Non-Core Hours</summary>
            <form [formGroup]="hourForm"
            (ngSubmit)="onSubmit()">
                <label for="date">Date:</label>
                <input type="date" id="date" formControlName="date" #dateInput required><br>

                <label for="task">Task:</label>
                <input type="text" id="task" formControlName="task" #taskInputrequired><br>

                <label for="time">Time spent:
                  <br>
                  <input type="number" id="hours" formControlName="hours" min="0" #hoursInput required >hours<br>
                  <input type="number" id="minutes" formControlName="minutes" min="0" max="59" #minutesInput required>minutes<br>
                </label>

                <label for="notes">Additional Notes:</label>
                <textarea id="notes" formControlName="notes" rows="5" cols="30" #notesInput></textarea><br>

                <button type="submit">Submit</button>
            </form>
          </details>
        </a>
        <a class="list-menu-item">
          <a class="list-menu-item">
            <details>
              <summary>Extracurriculars</summary>
              <form [formGroup]="hourForm"
              (ngSubmit)="onSubmit()">
                  <label for="date">Date:</label>
                  <input type="date" id="date" formControlName="date" #dateInput required><br>

                  <label for="task">Task</label>
                  <input type="text" id="task" formControlName="task" #taskInput required><br>

                  <label for="time">Time spent:
                    <br>
                    <input type="number" id="hours" formControlName="hours" min="0" #hoursInput required>hours<br>
                    <input type="number" id="minutes" formControlName="minutes" min="0" max="59" #minutesInput required>minutes<br>
                  </label>

                  <label for="notes">Additional Notes:</label>
                  <textarea id="notes" formControlName="notes" rows="5" cols="30" #notesInput></textarea><br>

                  <button type="submit">Submit</button>
              </form>
            </details>
          </a>
        </a>
      </div>
    </div>
    <div class="sidebar">
      <h1 class="title has text primary">
         Total Hours Completed
      </h1>
      <br>
      <ul>
        <li *ngFor="let hour of hours" class="hour-item" [ngClass]="{ 'expanded' : hour.expanded }" (click)="toggleExpand(hour)">
          <strong>Date:</strong> {{ hour.date }}<br>
          <div class="additional-info" *ngIf="hour.expanded">
          <strong>Task:</strong> {{ hour.task }}<br>
          <strong>Hours:</strong> {{ hour.hours }}<br>
          <strong>Minutes:</strong> {{ hour.minutes }}<br>
          <strong>Notes:</strong> {{ hour.notes }}<br>
          <div class="additional-info" *ngIf="hour.expanded"></div>

          <!-- Edit Button
           <button (click)="editHour(hour)" class="button is-small is-primary" style="margin-right: 10px;">
            Edit
          </button> -->

          <!-- Delete Button -->
          <button (click)="deleteHour(hour.id)" class="button is-small is-danger">
           Delete
          </button>
        </div>
          <hr>
        </li>
      </ul>
      </div>
    <div class="sidebar">
      <h1 class="title has text primary">
        Classes / Credits
      </h1>
      <!-- Class / Credit Elements-->
      <div class="task">
        <details>
          <summary> Elective Classes</summary>
          <ul>
            <li> STEM 1: Intro to Coding (1.0)</li>
            <li> STEM 2: JavaScript (1.0)</li>
            <li> STEM 3: Electronics and Coding (1.0)</li>
            <li> Intro to Java (1.0)</li>
            <li>AP Computer Science A (1.0)</li>
            <li>AP Computer Science Prin. (1.0)</li>
            <li>Fundamentals of Design (1.0)</li>
          </ul>
        </details>
      </div>
      <div class="task">
        <details>
          <summary> Math </summary>
          <ul>
            <li>Pre-Algebra (1.0)</li>
            <li>Algebra (1.0)</li>
            <li>Geometry (1.0)</li>
            <li>Algrbra II (1.0)</li>
            <li>Trigonometry (0.5)</li>
            <li>College Exam Math Prep (0.5)</li>
            <li>Pre-Calculus (1.0)</li>
            <li>AP Calculus AB (1.0)</li>
            <li>AP Calculus BC (1.0)</li>
            <li>AP Statistics (1.0)</li>
            <li>Business Math (1.0)</li>
            <li>FUNdamental Math - Spanish (1.0)</li>
            <li>Algebra I - Spanish (1.0)</li>
          </ul>
        </details>
      </div>
      <div class="task">
        <details>
          <summary>History/Social Studies</summary>
          <ul>
            <li>United States History (1.0)</li>
            <li>AP US History (1.0)</li>
            <li>World History (1.0)</li>
            <li>World Geography (1.0)</li>
            <li>AP World Geography (1.0)</li>
            <li>US Government and Civis (0.5)</li>
            <li>Economics (1.0)</li>
            <li>AP Eurpoean History (1.0)</li>
            <li>Personal Finance (0.5)</li>
            <li>Psycholohy (1.0)</li>
            <li>AP Psycholohy (1.0)</li>
            <li>Epic Moments in World History (1.0)</li>
          </ul>
        </details>
      </div>
      <div class="task">
        <details>
          <summary>English/ Language Arts</summary>
            <ul>
              <li>English I (1.0)</li>
              <li>English II (1.0)</li>
              <li>American Lit. - English III (1.0)</li>
              <li>Brititsh Lit. - English IV (1.0)</li>
              <li>College Prep - English IV (1.0)</li>
              <li>AP Eng. Literature & Comp. (1.0)</li>
            </ul>
        </details>
      </div>
      <div class="task">
        <details>
          <summary>Science </summary>
          <ul>
            <li>Physical Science (1.0)</li>
            <li>Intro to Physics & Chemistry (1.0)</li>
            <li>Biology (1.0)</li>
            <li>AP Biology (1.0)</li>
            <li>General Chemistry (1.0)</li>
            <li>AP Chemistry (1.0)</li>
            <li>General Physics (1.0)</li>
            <li>Honors Physics (1.0)</li>
            <li>AP Physics I (1.0)</li>
            <li>Environmental Science (1.0)</li>
          </ul>
        </details>
      </div>
      <div class="task">
        <details>
          <summary> Foreign Language</summary>
          <ul>
            <li>Discover Spanish (1.0)</li>
            <li>Discover Portuguese (1.0)</li>
            <li>French I (1.0)</li>
            <li>French II (1.0)</li>
            <li>German I (1.0)</li>
            <li>German II (1.0)</li>
            <li>Spanish I (1.0)</li>
            <li>Spanish II (1.0)</li>
            <li>Spanish III (1.0)</li>
          </ul>
        </details>
      </div>
      <div class="task">
        <details>
          <summary> Fine Arts</summary>
          <ul>
            <li>Music Appreciation (1.0)</li>
            <li>AP Music Theory (1.0)</li>
            <li>AP Drawing (1.0)</li>
            <li>Collaborative Theatre (1.0)</li>
          </ul>
        </details>
      </div>
      <div class="task">
        <details>
          <summary> Heatlth/ P.E. </summary>
          <ul>
            <li>High School Health (1.0)</li>
            <li>High School Social Development - Level 1 (1.0)</li>
            <li>High School Social Skills - Level 2 (1.0)</li>
            <li>PE, Social & Emotional Education (0.5)</li>
          </ul>
        </details>
      </div>
      <div class="task">
        <details>
          <summary>Career & Technical Education</summary>
          <ul>
            <li>Business Management (1.0)</li>
            <li>Electrical Technology I (1.0)</li>
            <li>Electrical Technology III (1.0)</li>
            <li>HVAC-R I (1.0)</li>
            <li>HVAC-R II (1.0)</li>
            <li>Info Management I (1.0)</li>
            <li>Info Management II (1.0)</li>
            <li>Medical Terminology (1.0)</li>
            <li>Plumbing Technology I (1.0)</li>
            <li>Plumbing Technology II (1.0)</li>
            <li>Intro to Accounting (1.0)</li>
            <li>Accounting I (1.0)</li>
            <li>Accounting II (1.0)</li>
            <li>Business, Marketing & Fin. (1.0)</li>
            <li>Investigating Careers (1.0)</li>
            <li>College & Career Readiness (1.0)</li>
            <li>Instructional Standards in Edu. (1.0)</li>
          </ul>

        </details>
      </div>
      </div>
       <!--
      <button class="button is-primary"
      routerLink="/new-list"> + New Course </button>
      Edit Task-->
    </div>
  </div>
