<div class="centered-content">
  <div class="task-manager-container">
    <div class="sidebar">
      <h1 class="title has text primary">
        Hours Completed
      </h1>
      <div class="list-menu">
        <a class="list-menu-item is-active">
          <p>Core Hours</p>
        </a>
        <a class="list-menu-item">
          <p>Non-Core Hours</p>
        </a>
        <a class="list-menu-item">
          <p> Extracurriculars</p>
        </a>
      </div>
    </div>
    <div class="task-list-container">
      <h1 class="title has text primary">
        Classes / Credits
      </h1>

      <!-- Class / Credit Elements-->
      <div class="task">
      <p>
        <a routerLink="/elective" > Elective Classes </a>
      </p>
      </div>

      <div class="task-math">
        <!-- @for (task of tasks; track task.id) {

        } -->
        <p>Math Classes</p>

      </div>
      <div class="task">
        <p> History Classes</p>
      </div>
      <div class="task">
        <p> English Classes</p>
      </div>
      <div class="task">
        <p> Science Classes</p>
      </div>
      <div class="task">
        <p> Foreign Language Classes</p>
      </div>
      <div class="task">
        <p> Fine Arts Classes</p>
      </div>
      <div class="task">
        <p> Health/P.E. Classes</p>
      </div>
      <div class="task">
        <p> Practical Arts Classes</p>
      </div>
       <!--
      <button class="button is-primary"
      routerLink="/new-list"> + New Course </button>
      Edit Task-->
    </div>
  </div>
</div>
