<div class ="container">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" formControlName="username"
      maxlength="15">
    </div>
    <div class ="form-group">
      <label for="password">Password</label>
      <input type="password" formControlName="password"
      minlength="8"
      required>
    </div>

  @if(isError) {
    <p> Username and Password credentials failed. Please try again.</p>
  }
    <button type="submit" [disabled]="!loginForm.valid">Login</button>
  </form>
</div>
