<div class="navbar" [class.active]="!onRoute('login')">
  <div class="branding"> Homeschooling to dreams...</div>
  <div class="burger-container">
    <button class="burger">
      <span class="material-symbols-outlined">
        Home</span>
    </button>
  </div>
  <div class="burger-container">
    <button class="burger">
      <span class="material-symbols-outlined">
        Missouri HS Requriments
      </span>
    </button>
  </div>
  <div class="burger-container">
    <button class="burger">
      <span class="material-symbols-outlined">
        Hours Tracked
      </span>
    </button>
  </div>
  <div class="burger-container">
    <button class="burger">
      <span class="material-symbols-outlined">
        Contact Us
      </span>
    </button>
  </div>
</div>
