<nav class="navbar">
  <div class="brand-name"> Homeschooling to dreams...</div>
  <div class="sidebar">
    <nav>
      @if (authService.isLoggedIn()){
        <a
        routerLink="/"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true}">Home</a>
        <a (click)="this.authService.logout()">Logout</a>
      }@else {
        <a routerLink="/login">Login</a>
        <br>
        <a routerLink="/signup">Signup</a>
      }
    </nav>
  </div>
  <div class="sidebar" [class.active]="isSidebarVisible">
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <br>
      <a routerLink="/mo_hs_req" routerLinkActive="active">Missouri HS Requirements</a>
  </div>
