.image-container{
  background-image: url(
    "https://vni.s3.amazonaws.com/200316153338383.jpg"
  );
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 10px 10px 2px gray;
  padding: 10%;
  filter: blur(.2px);
}
h2{
  padding: 4%;
  color:whitesmoke;
  text-shadow: 1px 1px black;
  font-size: 36px;
}
.form-group{
  font-size: 22px;
}
.row{
  padding: 5%;
  color: whitesmoke;
  text-shadow: 1px 1px black;
  font-size: 18px;
}
.small{
  color: white;
  font-size: 18px;
  text-shadow: 1px 1px black;
  text-align: center;
}
.form-control {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
}

.btn {
  font-size: 16px;
  padding: 10px 24px;
  background-color: #4D4DDB;
  transition-duration: 0.4s;
  color: whitesmoke;
  border: 2px solid black;
}

.btn:hover {
  background-color:  #be05cfb8;;
  color:whitesmoke;
}
