<div class="image-container">
  <div class="container">
    <div class="row">
      <div class="col col-md-auto">
  <h4> Missouri  Requirements at a glance: </h4>
  <ul>
   * School is required for ages 7-17
  </ul>
  <ul>
   * Notification required: No
  </ul>
  <ul>
   * Teacher qualifications: No
  </ul>
  <ul>
   * State mandated subjects: Yes
  </ul>
  <ul>
   * Assessment requirements: No
  </ul>
  <ul>
   * Immunization requirements: No
  </ul>
</div>
<div class="col-md-auto">
  <h4> Homeschool Laws in Missouri </h4>
  <p class="law">
    Once the child is seven years old and until they are 17 years old records and hours must be recorded and maintained per Missouri law. During a child's elementary and middle school years, you should always have at least two full years worth of records: hours met, samples of the childs work, academic evaluations and field trip records. Highschool students need to have the records (for all four years) need to be kept indefinitely, especially if they do not recieve an accredited diploma.
    <br>
    <br>
    The academic year runs from July 1st to June 30th. During the school term the child must have at least 1,000 hours with six hundred of these hours being in core subject. The core subjects include the following: reading, math, social studies, language arts and science. These subjects must be taught consonantly with the child's age and ability. Out of the six hundred hours of core subjects, four hundred must occure at the "regular" homeschool location. It is recommended that you keep a daily log showing hte hours of instruction with a short description of what was done in the subjects for the day. Keeping records is viable in proving the education you are providing to your child incase you are ever challenged in court or questioned.
  </p>
</div>
<div class="col-md-auto">
  <h4> Child already in public school?</h4>
  <p class="public">
    If your child is already enrolled in a public or private school and you want to homeschool in the middle of the year. It is highly recommended that you formally withdraw your child from the school with a withdrawal letter and keep for your own personal records. This can be sent either "Certified Mail with Return Receipt Requested" or taken to the school and obtain a signature of the principle on your copy.
  </p>
</div>
<div class="col-md-auto">
  <h4> Will college accept homeschool graduates? </h4>
  <p class="college">
    Yes! Many homeschool students haven proven themselves in colleges and universities for decades. Most admissions offices are familiar with homeschooling and many institutions have the admission policies on the websites in reguards to homeschool graduates. The best way to ensure that your child is prepared for college acceptances is by visiting college websites they are intrested in. This will give a better understanding of the high school credit requirements that are needed and ensure that they are incorporated into the highschool curriculum. Colleges also look for focused and motivated students who love learning. To ensure that the student will be successful in the application process make sure to keep good records. They will need to have all four years worth of highschool records from transcripts to college entrance test scores from any of the SAT, ACT, or CLT.
  </p>
</div>
<div class="col-md-auto">
  <h4> Highschool transcripts and diploma?</h4>
  <p class="transcripts">
    There a options for both of these depending on how you are going about your childs highschool years in the world of homeschool. There are several options for accredited homeschool programs that will handle most of the academic stuff for you. They will provide you with the certificate once a class is completed to print off, they track gpas and your child will recieve an actual highschool diploma. A few of these also offer the traditional graduation ceramonies like a public highschool.
    <br>
    <br>
    If you are taking on making sure that they are getting the neccessary requirments per state law to graduate then you are the one who will issue the transcript. The HSLDA (Home School Legal Defense Association) has free transcript templates that you can download. They also offer a transcript service that includes: automatic GPA calculation, professional formatting and 24/7 online access. It is recommended that you start creating a transcript for your student when they finish 9th grade or they finish the first highschool classes. A diploma will work the same the parent will issue this as well but it is important that the child takes the college entrance tests to better their chances at being accepted and also recieving scholarship opportunities.
    </p>
</div>
<div class="col-md-auto">
  <h4> Accredited Highschool Options </h4>
  <p class="transcripts">
    </p>
</div>
  </div>
  </div>
</div>

