<div class="image-container">
  <h2> Awards or Certificates Upload</h2>
    <p> Upload a photo of any awards or certificates your child receives to keep for your records. This will allow you to stay organized and keep all homeschool documents in one location. </p>
<br>
  <div class="info">
    Click on the "Choose File" button to upload a image or file:

    <input type="file" (change)="handleFileInput($event)" >
    <button (click)="uploadFile()">Upload</button>
<!-- <form id="upload"
      action="/action_page.php"
      method="post"
      enctype="multipart/form-data">
  <label for="myFile">Choose File:</label>
  <input type="file" id="myFile" name="myfile" accept="image/*"/>
  <br/><br/>
  <input type="submit" value="Submit">
</form> -->
</div>
</div>
