<div class="image-container">
  <h2> Awards or Certificates...</h2>
    <p> Any awards or certificates your child recieves upload a photo of them to keep for your records. This will allow you to stay organized and keep all homeschool documents in one location. </p>
<br>
  <div class="info">
    Click on the "Choose File" button to upload a image or file:

<form id="upload"
      action="/action_page.php"
      enctype="multipart/form-data">
  <input type="file" id="myFile" name="myfile"/>
  <br/><br/>
  <input type="submit" />
</form>
</div>
<!-- <div class="upload">
  <div class="button-wrap">
    <label class="button" for="upload">Choose File</label>
    <input id="uploadFile" type="file" accept=".json" required>
  </div>
</div> -->
</div>
